/* sections */
@media (prefers-color-scheme: dark) {
.dark-mode section {
    color: #c0bba9;
}
}
section {
    animation: 3.0s ease-out 0s 1 slideInLeft;
    display: block;
    font-family: "Hanken Grotesk", sans-serif;
}

.section {
    margin: 100px 0px;
    padding: 150px 50px;
  }
  
  .section .section-title {
    font-size: calc(80px + (35 - 20) * ((100vw - 300px) / (1300 - 300)));
    letter-spacing: calc(1px + (7 - 1) * ((100vw - 300px) / (1300 - 300)));
    font-family: "edition";
    font-weight: 500;
    line-height: 0%;
  }
  
  .section .section-subtitle {
    
    text-align: justify;
    font-family: "Hanken Grotesk", sans-serif;
    margin-bottom: 6px;
    font-weight: 400;
    opacity: .9;
  }
  
  .section-sm {
    padding: 40px 0 !important;
  }
  
  .section-md {
    padding: 60px 0 !important;
  }
  
  .section-lg {
    padding: 100px 0 !important;
  }

  .about-img {
    animation: 2.0s ease-out 0s 1 fadeIn;
  }

  .inner-frame {
    border-top: 25px solid rgba(192, 195, 196,1);
    border-left: 25px solid rgba(201, 204, 205,1);
    border-right: 25px solid rgba(218, 221, 222,1);
    border-bottom: 25px solid rgba(224, 228, 229,1);
    box-shadow: -1px -1px 1px rgba(0,0,0,.6),
      1px 1px 1px rgba(255,255,255,1);
  }
  .frame {
    max-width: 300px;
    margin: 20px auto;
    box-shadow: 10px 10px 50px rgba(0,0,0,.5), -1px -1px 2px rgba(255,255,255,1);
  }

  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: top;
        -ms-flex-align: center;
            align-items: top;
    text-align: left;
  }

  .about-img-holder {
    min-width: 400px;
    max-width: 300px;
    margin-right: 20px;
  }
  
  .about-img-holder .about-img {
    width: 100%;
    margin-bottom: 15px;
  }

  @media (max-width: 800px) {
    .about {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      text-align: left;
    }
    .about-img-holder {
      max-width: 220px;
      min-width: 100%;
      width: 100%;
      margin: auto;
      margin-bottom: 20px;
    }
  }